@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;600&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: none;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #2a027e 75%, #9597ff);
  background-repeat: repeat;
  color: whitesmoke;
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.formulario {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  font-size: 1.75rem;
  img {
    width: 85px;
    height: 85px;
  }
  #data {
    width: 20%;
    height: 1.5em;
  }
}

.formulario::after {
  display: inline-block;
  content: '';
  width: 85vw;
  height: 1px;
  background: #9597ff;
}

#data::placeholder {
  text-align: center;
  color: #2a027e;
}
.contador {
  display: flex;
  //display: none;
  gap: 1.75em;
  div {
    text-align: center;
    border: 1px solid #8b702c;
    border-radius: 10px;
    padding: 2rem 4rem;
    box-shadow: 1px 1px 12px 4px #f4c44d;
    span {
      font-size: 54px;
      font-weight: 600;
    }
    p {
      font-size: 24px;
    }
  }
}

.contador.ativo {
  display: flex;
  animation: show-up 0.8s forwards;
}

@keyframes show-up {
  0% {
    opacity: 0;
    transform: translateY(250px) rotate(200deg);
  }

  100% {
    opacity: 1;
    transform: translateY(0) rotate(0deg);
  }
}
